:root {
  --white-color: #fff;
}
p,
body,
ul,
li,
h1,
h2,
h3,
h4,
button,
img {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300, 400;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.header {
  background-color: #012d63;
  width: 1440px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px;
}

.nav-list {
  display: flex;
  gap: 30px;
  display: flex;
}

.nav-list-page {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.nav-list-page:hover {
  color: #ffff;
}

.lang {
  display: flex;
  gap: 30px;
}
.lang-list {
  gap: 30px;
}

.lang-list-link {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.hero {
  background-image: url("../images/HeroImage.png");
  width: 1440px;
  height: 858px;
}

.hero-logo {
  width: 100%;
  height: auto;
  display: block;
  max-width: 160px;
}

.hero-title {
  color: #fff;
  font-size: 144px;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-subtitle {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.hero-sign {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-button {
  background-color: #8e32c6;
  color: #ffff;
  font: "Roboto", sans-serif;
  width: 254px;
  height: 67px;
  font-size: 24px;
  border-radius: 9px;
  text-align: center;
}

.hero-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.adventages {
  display: flex;
  background-image: url("../images/adventages.png");
  width: 100%;
  height: auto;
  margin: 0;
  max-width: 1440px;
  max-height: 606px;
  border: #8e32c6 5px;
  background-size: 1440px x 606px;
  justify-content: space-between;
  align-items: center;
}

.adventages-box {
  display: flex;
  width: 1110px;
  height: 396px;
  display: block;
  border: 5px solid #8e32c6;
  justify-content: space-between;
  align-items: center;
}

.adventages-line {
  width: 1.0000152587890625px;
  height: auto;
  margin: 0;
  display: block;
  transform: rotate(90deg);
}

.adventages-list-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.adventages-list-img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 240px;
}

.reviews {
  display: flex;
  background-image: url("../images/Reviews.png");
  width: 1440px;
  height: 520px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.reviews-box:nth-child(1) {
  width: 255px;
  height: 285px;
  margin: 0;
  display: block;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 30px 0-13px #533978, 0 14px 0-5px #7b54b2;
  border-radius: 15px 15px 15px 15px;
  background-image: linear-gradient(
    to bottom right,
    #00e5e6,
    #00a8f7,
    #9a76f9,
    #cc5ec2
  );
}

.reviews-box:nth-child(2) {
  width: 255px;
  height: 285px;
  margin: 0;
  display: block;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 30px 0-13px #61337c, 0 14px 0-5px #9159b1;
  border-radius: 15px 15px 15px 15px;
  background-image: linear-gradient(
    to bottom right,
    #ff68b4,
    #ff45e1,
    #ce3aff,
    #8961ff
  );
}

.reviews-box:nth-child(3) {
  width: 255px;
  height: 285px;
  margin: 0;
  display: block;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 30px 0-13px #732f26, 0 14px 0-5px #b95a4c;
  border-radius: 15px 15px 15px 15px;
  background-image: linear-gradient(
    to bottom right,
    #ffe128,
    #ff9b5c,
    #ff8381,
    #ff5489
  );
}

.reviews-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.reviews-users {
  margin-top: 45px;
}

.reviews-user-img {
  float: left;
  margin-right: 5px;
}

.reviews-container-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.reviews-container-data {
  color: #d8d8d8;
  font-size: 14px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.users-info-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.users-info-date {
  color: #d8d8d8;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.order-input {
  width: 100%;
  width: 690px;
  height: 60px;
  height: auto;
  margin: 0;
  display: block;
  max-width: 690px;
  border-radius: 50px 50px 50px 50px;
}

.order-adress-input {
  width: 580px;
  height: 50px;
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 580px;
  border-radius: 50px 50px 50px 50px;
}

.order-button {
  color: #fff;
  width: 248px;
  height: 68px;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  background-color: #8e32c6;
  border: none;
  border-radius: 10px;
  text-align: center;
}
