:root {
  --white-color: #fff;
}
p,
body,
ul,
li,
h1,
h2,
h3,
h4,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300, 400;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  color: var(--white-color);
  background-color: var(#012d63);
}

.header {
  background-color: #012d63;
  width: 1440px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-logo {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list-page {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.nav-list-page:hover {
  color: #ffff;
}

.lang {
  display: flex;
  gap: 30px;
}
.lang-list {
  gap: 30px;
}

.lang-list-link {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.hero {
  background-image: url("./images/HeroImage.png");
  width: 1440px;
  height: 858px;
}

.hero-logo {
  width: 100%;
  height: auto;
  display: block;
  max-width: 160px;
}

.hero-title {
  color: #fff;
  font-size: 144px;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-h2 {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.hero-sign {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-button {
  background-color: #8e32c6;
  color: #ffff;
  font: "Roboto", sans-serif;
  width: 254px;
  height: 67px;
  font-size: 24px;
  border-radius: 9px;
  text-align: center;
}

.hero-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.adventages {
  background-image: url("./images/adventages.png");
  width: 1440px;
  height: 606px;
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1115px;
  max-height: 401px;
  border: #8e32c6 5px;
}

.adventages-box {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1115px;
  max-height: 401px;
  border: #8e32c6, 131231px;
}

.adventages-list-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.adventages-list-img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 240px;
}

.reviews {
  background-image: url("./images/Reviews.png");
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1440px;
}

.reviews-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.reviews-container-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.reviews-container-data {
  color: #d8d8d8;
  font-size: 14px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.users-info-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.users-info-date {
  color: #d8d8d8;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.order-input {
  width: 100%;
  width: 690px;
  height: 60px;
  height: auto;
  margin: 0;
  display: block;
  max-width: 690px;
  border-radius: 50px 50px 50px 50px;
}

.order-adress-input {
  width: 580px;
  height: 50px;
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 580px;
  border-radius: 50px 50px 50px 50px;
}

.order-button {
  color: #fff;
  width: 248px;
  height: 68px;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  background-color: #8e32c6;
  border: none;
  border-radius: 10px;
  text-align: center;
}
