p,
body,
ul,
li,
h1,
h2,
h3,
h4,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #012d63;
  width: 1440px;
  height: 90px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list-page {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.nav-list-page:hover {
  color: #ffff;
}

.lang {
  display: flex;
  gap: 30px;
}
.lang-list {
  gap: 30px;
}

.lang-button {
  display: flex;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  letter-spacing: 0;
  text-transform: none;
}

.hero {
  background-image: url("./images/HeroImage.png");
  width: 1440px;
  height: 858px;
}

.hero-logo {
  padding-top: 90px;
  width: 100%;
  height: auto;
  display: block;
  max-width: 160px;
}

.hero-title {
  color: #fff;
  font-size: 144px;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-h2 {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.hero-h3 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.hero-button {
  background-color: #8e32c6;
  color: #ffff;
  font: "Roboto", sans-serif;
  width: 254px;
  height: 67px;
  font-size: 24px;
  border-radius: 9px;
  text-align: center;
}

.hero-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.adventages {
  background-image: url("./images/adventages.png");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1440px;
}

.adventages-list-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.adventages-list-img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 240px;
}

.reviews {
  background-image: url("./images/Reviews.png");
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1440px;
}
